.blanco{
    color: white;
}

.blancoder{
    color: white;
}

.black{
	background-color: black;
	height: 800px;
}

.texto--header{
	text-align: center;
	margin-top: 15%;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

h1{
	margin: 2% 0;
	font-size: 6.5em;
}

h2{
	margin: 2% 0;
	font-size: 3.5em;
}

p{
	margin: 2% 0;
	font-size: 1.5em;
}

.yellow {
	width: 100%;
	height: 300px;
	background: yellow;
}

.pink {
	width: 100%;
	height: 300px;
	background: #FFC0CB;
}

.red {
	width: 100%;
	height: 300px;
	background: red;
}

.gris {
	width: 100%;
	height: 300px;
	background: #C0C0C0;
}

.verde {
	width: 100%;
	height: 300px;
	background: #40E0D0;
}

.azul {
	width: 100%;
	height: 300px;
	background: #00008B;
}

.resize{
	height: 567px;
	width: 600px;
	border-radius: 50%;
	display: block;
    margin: auto;
    padding: 4%;

}

.about{
	margin-top: 2%;
	padding: 4%;
}


.svg-inline--fa{
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 7px; 
    margin-right: 3px;
}

.svg-inline--fa.fa-w-14 {
    width: .875em;
    padding: 0px;
    border-radius: 0px;
    color: white;
    background-color: transparent;
    border: 0px;
 }

.svg-inline--fa.fa-instagram.fa-w-14.fa-3x{
    color:  white;
    background-color: black;
    border-radius: 30px;
    padding: 7px; 
    margin-right: 3px;
}

.svg-inline--fa.fa-facebook.fa-w-14.fa-3x{
    color:  white;
    background-color: black;
    border-radius: 30px;
    padding: 7px; 
    margin-right: 3px;
}



footer{
    background-color: black;  
    color:  white; 
    padding: 20px;
    text-align: center; 
}

.bloquefooter{
    display: inline-block;
}

.nombre{
	font-family: 'IBM Plex Sans Condensed', sans-serif;
}
